extends layout

block content
  .container
    .row.page-header
      .col-lg-12.text-center
        h1(style="color: white; font-size: 36px; margin-bottom: 20px;") About CareerBuilder
        p(style="color: #999; font-size: 18px;") Get Ready to Explore Exciting Career Paths

    .row.about-info
      .col-lg-6
        h2(style="color: #fff; font-size: 28px; margin-bottom: 15px;") Who We Are
        p.large-font(style="color: #ccc; font-size: 20px;")
          | CareerBuilder is your gateway to a world of career possibilities. We provide valuable insights, resources, and guidance to help you navigate the ever-evolving job market.

      .col-lg-6
        h2(style="color: #fff; font-size: 28px; margin-bottom: 15px;") Our Mission
        p.large-font(style="color: #ccc; font-size: 20px;")
          | Our mission is to empower individuals like you to make informed career choices, discover your passions, and achieve your professional goals.

    .row.contact-us
      .col-lg-12.text-center
        h2(style="color: #fff; font-size: 28px; margin-bottom: 20px;") If You Want to Learn More, Please Contact Us
        p.large-font(style="color: #ccc; font-size: 20px;")
          | We're here to help you on your career journey. Feel free to reach out through our contact
