extends layout

block content
  .container
    .row.page-header
      .col-lg-12.text-center
        h1(style="color: white;") Explore a Career in Entrepreneurship
        p Discover the World of Entrepreneurship

      .col-lg-6.text-center
        img(src="https://st.adda247.com/https://adda247jobs-wp-assets-adda247.s3.ap-south-1.amazonaws.com/jobs/wp-content/uploads/sites/2/2021/08/18143043/entrepreneurship-what-is-the-modern-definition-of-entrepreneur.jpg", alt="Entrepreneurship Illustration", style="max-width: 100%; height: auto;")

    .row.about-entrepreneurship
      .col-lg-6
        h2(style="color: white;") What is Entrepreneurship?
        p.large-font
          | Entrepreneurship is the process of identifying, creating, and managing innovative business opportunities. Entrepreneurs are individuals who take risks and use their creativity to start and grow businesses. They play a crucial role in driving economic growth and innovation.

    .row.job-opportunities
      .col-lg-12
        h2(style="color: white;") Career Opportunities in Entrepreneurship
        p.large-font
          | The field of entrepreneurship offers a wide range of exciting career opportunities. Here are some prominent roles and areas in entrepreneurship:
        ul
          li Startup Founder: Start and lead your own business venture.
          li Venture Capitalist: Invest in promising startups and innovative ideas.
          li Business Consultant: Offer expertise to help businesses grow and succeed.
          li Social Entrepreneur: Create businesses with a social or environmental impact.
          li Innovation Manager: Drive innovation within established companies.
          li E-commerce Entrepreneur: Build and manage online businesses.

        p.large-font
          | Entrepreneurship allows you to pursue your passion and make a meaningful impact on the business world.

    .row.future-of-entrepreneurship
      .col-lg-12
        h2(style="color: white;") The Future of Entrepreneurship
        p.large-font
          | Entrepreneurship continues to evolve in response to changing markets and technologies. As global business landscapes shift, there is a growing need for creative thinkers and problem solvers. The future of entrepreneurship holds opportunities for those who can adapt and innovate.

    .row.get-started
      .col-lg-12
        h2(style="color: white;") Ready to Dive into Entrepreneurship?
        p.large-font
          | If you're interested in pursuing a career in entrepreneurship and want to embark on your entrepreneurial journey, there are various resources, mentorship programs, and educational opportunities available to help you get started.
