extends layout

block content
  .container
    .row.page-header
      .col-lg-12.text-center
        h1(style="color: white;") Welcome to the World of Information Technology
        p Explore the World of Information Technology

      .col-lg-6.text-center
        img(src="https://cache.careers360.mobi/media/article_images/2022/9/21/Different_Types_of_Jobs_in_Information_Technology.webp", alt="IT Illustration", style="max-width: 100%; height: auto;")

    .row.about-it
      .col-lg-6
        h2(style="color: white;") What is Information Technology?
        p.large-font
          | Information Technology (IT) is a dynamic field that deals with the use of computers, software, and systems to manage and process information. IT professionals are responsible for designing, implementing, and maintaining technology solutions that support various aspects of businesses and organizations.

    .row.job-opportunities
      .col-lg-12
        h2(style="color: white;") Career Opportunities in IT
        p.large-font
          | The IT industry offers a wide range of exciting career opportunities. Here are some prominent job roles in the field:
        ul
          li Systems Administrator: Manage and maintain computer systems and networks.
          li Software Developer: Create software applications and solutions.
          li Cybersecurity Analyst: Protect data and systems from security threats.
          li Network Engineer: Design and manage network infrastructure.
          li Database Administrator: Maintain and optimize databases.
          li IT Project Manager: Oversee technology projects and teams.

        p.large-font
          | Whether you're interested in coding, network administration, or cybersecurity, a career in IT can lead to diverse and rewarding roles.

    .row.future-of-it
      .col-lg-12
        h2(style="color: white;") The Future of IT
        p.large-font
          | Information Technology continues to evolve rapidly, shaping the way businesses operate and improving our daily lives. As technology advances, the demand for skilled IT professionals grows, making IT a promising field for the future.

    .row.get-started
      .col-lg-12
        h2(style="color: white;") Ready to Dive into IT?
        p.large-font
          | If you're intrigued by the world of Information Technology and want to pursue a career in this dynamic field, there are numerous resources and educational programs available to help you get started.
