extends layout

block content
  .container
    .row.page-header
      .col-lg-12.text-center
        h1(style="color: white;") Welcome to the World of Kitchen manager
        p Explore the Exciting Career of a Chef

      .col-lg-6.text-center
        img(src="https://png.pngtree.com/element_our/png/20180918/chef-cooking-fried-chicken-and-delicious-sign-png_103460.jpg", alt="Chef Illustration", style="max-width: 100%; height: auto;")

    .row.about-chef
      .col-lg-6
        h2(style="color: white;") What is a Chef?
        p.large-font
          | A chef is a culinary professional who specializes in preparing and creating delicious dishes. Chefs are skilled in the art of cooking, food presentation, and flavor combinations. They work in various culinary settings, including restaurants, hotels, and catering companies.

    .row.career-opportunities
      .col-lg-12
        h2(style="color: white;") Career Opportunities for Chefs
        p.large-font
          | The culinary industry offers a wide range of exciting career opportunities for chefs. Here are some prominent roles in the field:
        ul
          li Executive Chef: Oversee kitchen operations and create menus.
          li Sous Chef: Assist the executive chef in kitchen management.
          li Pastry Chef: Specialize in baking and pastry arts.
          li Personal Chef: Prepare meals for individuals or private events.
          li Catering Chef: Manage food preparation for special events.
          li Culinary Instructor: Teach culinary arts at culinary schools.

        p.large-font
          | Whether you dream of becoming an executive chef at a Michelin-star restaurant or owning your catering business, a career as a chef offers diverse and rewarding paths.

    .row.future-of-chef
      .col-lg-12
        h2(style="color: white;") The Future of Culinary Arts
        p.large-font
          | The culinary arts field continues to evolve, with a growing emphasis on sustainability, dietary preferences, and global cuisine. As people's culinary tastes expand, the demand for talented chefs remains high, making it a promising field for the future.

    .row.get-started
      .col-lg-12
        h2(style="color: white;") Ready to Begin Your Culinary Journey?
        p.large-font
          | If you're passionate about food and aspire to become a chef, there are numerous culinary schools, apprenticeship programs, and resources available to help you start your culinary career.
