extends layout

block content
  .container
    .row.page-header
      .col-lg-12.text-center
        h1(style="color: white;") Welcome to the World of Artificial Intelligence
        p Learn About AI and Its Exciting Career Opportunities
      
      .col-lg-6.text-center
        img(src="https://futureoflife.org/wp-content/uploads/2018/12/neural-pathways.jpg", alt="AI Illustration", style="max-width: 100%; height: auto;")

    .row.about-ai
      .col-lg-6
        h2(style="color: white;") What is Artificial Intelligence?
        p.large-font
          | Artificial Intelligence (AI) is a captivating field at the intersection of computer science and human intelligence. It's all about creating intelligent systems that mimic human thinking and decision-making. AI encompasses a wide range of techniques, including machine learning, natural language processing, and computer vision, allowing machines to understand, reason, learn, and interact with the world.

    .row.job-opportunities
      .col-lg-12
        h2(style="color: white;") Career Opportunities in AI
        p.large-font
          | The AI industry offers a wealth of exciting career possibilities. Here are some key job roles in the field:
        ul
          li Data Scientist: Uncover valuable insights from data to drive informed decisions.
          li Machine Learning Engineer: Develop and train machine learning models for predictive analytics and automation.
          li AI Research Scientist: Push the boundaries of AI through cutting-edge research.
          li Natural Language Processing (NLP) Engineer: Create systems for understanding and generating human language.
          li Computer Vision Engineer: Dive into image and video analysis for various applications.
          li AI Ethics and Policy Analyst: Address ethical concerns and policy issues related to AI technologies.

        p.large-font
          | Whether you're passionate about solving complex problems, enhancing user experiences, or shaping the future of technology, a career in AI offers endless possibilities.

    .row.future-of-ai
      .col-lg-12
        h2(style="color: white;") The Future of AI
        p.large-font
          | AI is on the brink of transforming industries and opening up new horizons. The demand for AI professionals is surging, and the potential for innovation knows no bounds. Whether it's in healthcare, finance, autonomous vehicles, or other domains, AI is poised to reshape our world.

    .row.get-started
      .col-lg-12
        h2(style="color: white;") Ready to Dive into AI?
        p.large-font
          | If you're captivated by the world of AI and want to embark on a rewarding career path, there's a wealth of resources and educational programs available to guide you. Embrace the future of technology with AI!
