extends layout

block content
  .container
    .row.page-header
      .col-lg-12.text-center
        h1(style="color: white;") Explore a Career in Civil Engineering
        p Discover the World of Civil Engineering

      .col-lg-6.text-center
        img(src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSvHt3U7LmZtFXmyQoLhYOmZ1FkyMKHXy9cVw&usqp=CAU", style="max-width: 100%; height: auto;")

    .row.about-civil-eng
      .col-lg-6
        h2(style="color: white;") What is Civil Engineering?
        p.large-font
          | Civil Engineering is a branch of engineering that focuses on designing, constructing, and maintaining infrastructure and facilities. Civil engineers play a crucial role in shaping our physical environment, including roads, bridges, buildings, and more.

    .row.job-opportunities
      .col-lg-12
        h2(style="color: white;") Career Opportunities in Civil Engineering
        p.large-font
          | The field of Civil Engineering offers diverse and rewarding career opportunities. Here are some prominent job roles in the industry:
        ul
          li Structural Engineer: Design and analyze structures for safety and durability.
          li Transportation Engineer: Plan and develop transportation systems.
          li Environmental Engineer: Address environmental challenges in engineering projects.
          li Geotechnical Engineer: Work with soil and rock mechanics for construction.
          li Construction Manager: Oversee construction projects and teams.
          li Water Resources Engineer: Manage water-related infrastructure projects.

        p.large-font
          | Civil engineers are essential for creating and maintaining the physical infrastructure that society relies on.

    .row.future-of-ce
      .col-lg-12
        h2(style="color: white;") The Future of Civil Engineering
        p.large-font
          | Civil Engineering continues to evolve with advancements in technology and sustainability. As urbanization and infrastructure needs grow, the demand for skilled civil engineers remains strong.

    .row.get-started
      .col-lg-12
        h2(style="color: white;") Ready to Pursue Civil Engineering?
        p.large-font
          | If you're interested in the field of Civil Engineering and want to start your career journey, there are various educational programs and resources available to help you get started.
